@import "../../app.scss";

.Home {
  background-color: gray;
  min-height: 100vh;
  .homeWrapper {
    width: 50%;
    margin: auto;
    padding-top: 70px;
    @include responsive(big) {
      width: 90%;
    }
    @include responsive(phone) {
      margin-right: 10px;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--light);
      @include responsive(phone) {
        margin-left: 17px;
      }
      .logoInfo {
        h2 {
          font-size: 2rem;
        }
        span {
          margin-top: 5px;
        }
      }
      .div1 {
        .addBtn {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 5px 8px;
          border-radius: 10px;
          background-color: rgb(9, 9, 133);
          color: var(--light);
          border: none;
          outline: none;
          cursor: pointer;
          &:hover {
            background-color: blue;
          }
          &:active {
            opacity: 0.8;
          }
          .BtnIcon {
            border-radius: 50%;
          }
          .name {
            font-size: 18px;
          }
        }
      }
    }
    .invoicesContainer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 30px;
      @include responsive(phone) {
        margin-left: 10px;
      }
    }
  }
}

.nav {
  position: fixed;
  left: 0;
  background-color: rgb(9, 9, 133);
  top: 0;
  height: 100%;
  width: 45px;
  ul {
    margin-top: 40px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    li {
      .icon {
        color: var(--light);
        font-size: 2rem;
        &:hover {
          color: blue;
          cursor: pointer;
        }
        &:active {
          opacity: 0.8;
        }
      }
    }
  }
}
